In [2]:
# importation des packages
import pandas as pd
import numpy as np

In [3]:
# lecture du csv
# df = pd.read_csv('heart_disease.csv', sep = ';', index_col = 0)                 # vrai code pour csv exam
df = pd.read_excel('data_exam_1.xlsx', index_col = 0)
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
ID,,,,,,,,,,,,,,
12,63,Male,3,145.0,233.0,1,0,150.0,0.0,2.3,0,0.0,1,1.0
1264,37,Male,2,130.0,250.0,0,1,187.0,0.0,3.5,0,0.0,2,1.0
1217,41,Female,1,130.0,204.0,0,0,NaN,0.0,1.4,2,0.0,2,1.0
1300,56,Male,1,120.0,236.0,0,1,178.0,0.0,0.8,2,0.0,2,1.0
1049,57,Female,0,120.0,354.0,0,1,163.0,1.0,0.6,2,0.0,2,1.0
1283,57,Male,0,140.0,192.0,0,1,148.0,0.0,0.4,1,0.0,1,0.0
1214,56,Female,1,140.0,294.0,0,0,153.0,0.0,1.3,1,0.0,2,1.0
1212,44,Male,1,120.0,263.0,0,1,173.0,0.0,0.0,2,0.0,3,1.0
1239,52,Male,2,172.0,199.0,1,1,162.0,0.0,0.5,2,0.0,3,1.0
1149,57,Male,2,150.0,168.0,0,1,174.0,NaN,1.6,2,0.0,2,1.0

In [4]:
# Afficher les informations des patients ayant 37 ans. Sont-ils tous sains?
df[df['age']==37].head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
ID,,,,,,,,,,,,,,
1264,37,Male,2,130.0,250.0,0,1,187.0,0.0,3.5,0,0.0,2,1.0

In [5]:
print("il n'y a qu'un seul patient de 37 dans tout le data_set et ce patient est malade.\n")

il n'y a qu'un seul patient de 37 dans tout le data_set et ce patient est malade.

In [6]:
# informations du patient le plus âgé
index_age_max = df['age'].idxmax()
print("informations du patient le plus âgé :\n",df.loc[index_age_max],"\n")
print("ce patient n'est pas malade.\n")   # vérifier si target = 0 pas malade ou 1=malade !!!

# autre solution rapide
print(df.sort_values(by = 'age', ascending = False).iloc[0])

informations du patient le plus âgé :
 age             71
sex         Female
cp               1
trestbps     160.0
chol         302.0
fbs              0
restecg          1
thalach      162.0
exang          0.0
oldpeak        0.4
slope            2
ca             2.0
thal             2
target         1.0
Name: 1158, dtype: object

ce patient n'est pas malade.

age             71
sex         Female
cp               1
trestbps     160.0
chol         302.0
fbs              0
restecg          1
thalach      162.0
exang          0.0
oldpeak        0.4
slope            2
ca             2.0
thal             2
target         1.0
Name: 1158, dtype: object

In [8]:
# Comparer les proportions de malades et non malades entre les patients de sexe masculin et féminin.
# tableau croisé entre sex et target
sex = df['sex']
target = df['target']

print(" tableau croisé des proportions de femme et hommes malades ou non.\n")
tab_croise =  pd.crosstab(sex,target, rownames=['sex'],  colnames=['target'], normalize=1)
tab_croise.head()

 tableau croisé des proportions de femme et hommes malades ou non.

target       0.0       1.0
sex
Female  0.666667  0.307692
Male    0.333333  0.692308

In [11]:
""" autre solution + rapide """
df.groupby('sex').target.value_counts() #normalize = True pour obtenir les fréquences
# ou bien
# pd.crosstab(df.sex, df.target) # = ce que j'ai fait sans nommer ici lignes et colonnes

target  0.0  1.0
sex
Female    2    8
Male      1   18

In [7]:
# la moyenne d'âge des individus sains et moyenne des malades
# leur solution
# df.groupby('target')['age'].mean()  super !!!
pers_saine = df[df['target']==0]
pers_malade = df[df['target']==1]                
print("la moyenne d'âge des individus sains est de ",round(pers_saine['age'].mean(),2),"ans.\n")
print("la moyenne d'âge des individus malades est de ",round(pers_malade['age'].mean(),2),"ans.\n")

la moyenne d'âge des individus sains est de  58.0 ans.

la moyenne d'âge des individus malades est de  53.85 ans.

In [13]:
df.groupby('target').age.mean()

target
0.0    58.000000
1.0    53.846154
Name: age, dtype: float64

In [8]:
# remplacement des catégories de la colonne sex par 0 ou 1
df['sex'].replace(to_replace=['Male','Female'], value=[0,1], inplace=True)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
ID,,,,,,,,,,,,,,
12,63,0,3,145.0,233.0,1,0,150.0,0.0,2.3,0,0.0,1,1.0
1264,37,0,2,130.0,250.0,0,1,187.0,0.0,3.5,0,0.0,2,1.0
1217,41,1,1,130.0,204.0,0,0,NaN,0.0,1.4,2,0.0,2,1.0
1300,56,0,1,120.0,236.0,0,1,178.0,0.0,0.8,2,0.0,2,1.0
1049,57,1,0,120.0,354.0,0,1,163.0,1.0,0.6,2,0.0,2,1.0

In [9]:
# recherche des valeur aberrantes de la colonne 'thalach'
aberrant = df[(df['thalach']<50) | (df['thalach']>250)]
aberrant.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
ID,,,,,,,,,,,,,,
1056,49,0,1,130.0,266.0,0,1,19500.0,0.0,0.6,2,0.0,2,1.0

In [10]:
print("il y a une valeur aberrante cardiaque de 19500 qu'on remplace par 195.\n")

il y a une valeur aberrante cardiaque de 19500 qu'on remplace par 195.

In [11]:
# remplacement de la valeur aberrante
df.loc[aberrant.index,'thalach'] = 195
df.loc[aberrant.index]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
ID,,,,,,,,,,,,,,
1056,49,0,1,130.0,266.0,0,1,195.0,0.0,0.6,2,0.0,2,1.0

In [14]:
""" leur solution """
df.loc[df['thalach'].idxmax(), "thalach"] = 195

In [12]:
# Afficher le nombre de valeurs manquantes pour chaque colonne de df
df.isnull().sum(axis = 0)

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     2
exang       1
oldpeak     0
slope       0
ca          1
thal        0
target      1
dtype: int64

In [13]:
# Supprimer les lignes de df qui ont NaN en colonne 'target'
df.dropna(axis=0, how='all', subset=['target'], inplace=True)
# eux + simple
df = df.dropna(subset=['target'])

In [14]:
# Remplacement des NaN de la colonne ca par son mode
df['ca'].fillna(df['ca'].mode()[0], inplace=True)

In [15]:
df.isnull().sum(axis = 0) # pour vérif bon remplacement

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     2
exang       1
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [16]:
# Remplacement des NaN de la colonne exang par son mode
df['exang'].fillna(df['exang'].mode()[0], inplace=True)

In [17]:
df.isnull().sum(axis = 0) # pour vérif bon remplacement

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     2
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [18]:
# remplacement des autres NaN par leur mediane respective
# eux super rapide
# df = df.fillna(df.median())  super !!!
# ici je ne vois que sur 'thalac' mais BIEN VERIFIER !!!

df['thalach'].fillna(df['thalach'].median(), inplace=True)

In [19]:
df.isnull().sum(axis = 0) # pour vérif bon remplacement ou df.isna().sum().sum() pour la totalité sur tout le df

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [20]:
# separation des variables explicatives X de la target y
y = df['target']
X = df.drop('target', axis=1)

In [36]:
# normalisation de X sur [-1;1]
def normalize_scaler(dataframe):
    """ 
    dataframe totalement numérique dont aucune colonne n'est totalement de même valeur ( qui serait à éliminer donc car sans intérêt ).
    La fonction normalise chaque colonne sur [-1 ; +1]
    return : df normalisé
    """
    df = dataframe.copy()  # copy du dataframe car modification des colonnes sur place
    n = df.shape[1]
    for i in range(n):    
        col = df.iloc[:,i]    # pour chaque colonne 
        min = col.min()       # on stock min et max 
        max = col.max()
        col_norm = 2*(col - col.min())/(col.max() - col.min())-1 # normalisation de la colonne
        df.iloc[:,i] = col_norm  # remplacement de la colonne par sa normalisation
    return df

X_norm = normalize_scaler(X)
X_norm.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
ID,,,,,,,,,,,,,
12,0.529412,-1.0,1.000000,0.129032,-0.477912,1.0,-1.0,-0.111111,-1.0,0.314286,-1.0,-1.0,-1.0
1264,-1.000000,-1.0,0.333333,-0.354839,-0.341365,-1.0,1.0,0.802469,-1.0,1.000000,-1.0,-1.0,0.0
1217,-0.764706,1.0,-0.333333,-0.354839,-0.710843,-1.0,-1.0,0.160494,-1.0,-0.200000,1.0,-1.0,0.0
1300,0.117647,-1.0,-0.333333,-0.677419,-0.453815,-1.0,1.0,0.580247,-1.0,-0.542857,1.0,-1.0,0.0
1049,0.176471,1.0,-1.000000,-0.677419,0.493976,-1.0,1.0,0.209877,1.0,-0.657143,1.0,-1.0,0.0

In [ ]:
# SOLUTION SUPER SIMPLE
X_norm = 2* (X - X.min()) / (X.max() - X.min()) - 1

X_norm = X.apply(lambda x : 2*(x-x.min())/(x.max() - x.min()) - 1)

In [29]:
              # apprentisage des données 
# chargement des modules
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import *

# division du jeu de données en train_set et test_set avec 30% de test_set
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state=5)

# choix d'un modèle de classification
knn = KNeighborsClassifier(n_neighbors = 6)

# entrainement du jeu de données
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=6)

In [30]:
# prédiction et évaluation du model knn
y_pred_test_knn = knn.predict(X_test)
print("rapport de classification \n",classification_report(y_test, y_pred_test_knn, zero_division=1))

rapport de classification
               precision    recall  f1-score   support

         0.0       1.00      0.00      0.00         1
         1.0       0.89      1.00      0.94         8

    accuracy                           0.89         9
   macro avg       0.94      0.50      0.47         9
weighted avg       0.90      0.89      0.84         9

In [31]:
print("le taux de prédiction correct est de : ",accuracy_score(y_test, y_pred_test_knn))

le taux de prédiction correct est de :  0.8888888888888888

In [32]:
( VN, FP ) , ( FN, VP ) = confusion_matrix(y_test, y_pred_test_knn)
print("matrice de confusion \n", confusion_matrix(y_test, y_pred_test_knn))

matrice de confusion
 [[0 1]
 [0 8]]

In [33]:
( VN, FP ) , ( FN, VP ) = confusion_matrix(y_test, y_pred_test_knn)
print("matrice de confusion \n", confusion_matrix(y_test, y_pred_test_knn))

VN =  0  FP =  1  FN =  0  VP = 8

In [34]:
print("Sur l'échatillon de test, ", FN," patients malades n'ont pas été détectés par le modèle.")

Sur l'échatillon de test,  0  patients malades n'ont pas été détectés par le modèle.

In [ ]:
# le modèle peut être optimisé en fonction de ses hyperparamètres
# il nous faudrait aussi une + grande quantité de données

In [22]:
type(df)

pandas.core.frame.DataFrame